Датасет содержит только тип активности 'IC50'

In [ ]:
import pandas as pd

# Загрузка датасета и вывод первых 5 строк
ds = pd.read_csv('dataset.csv', sep=';')
ds.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value,Value
0,CHEMBL1812417,NaN,NaN,425.53,1.0,5.64,"37, BSc4050",CCCCCCCCn1c2ccccc2c2cc(CCC(=O)O)c(OCC(=O)O)cc21,IC50,'>',...,CHEMBL1811865,1,Scientific Literature,Bioorg Med Chem,2011,CHEMBL3308507,NaN,NaN,NaN,80.0
1,CHEMBL1837051,NaN,NaN,513.55,1.0,4.85,"22, enantiomer",O=S(=O)(c1ccc(C(F)(F)F)cc1)N1C2Cc3[nH]ncc3C1CC...,IC50,'=',...,CHEMBL1833811,1,Scientific Literature,Bioorg Med Chem Lett,2011,CHEMBL3307656,NaN,NaN,NaN,36.0
2,CHEMBL1837047,NaN,NaN,466.46,0.0,4.20,"18, enantiomer",O=S(=O)(c1ccc(C(F)(F)F)nc1)N1C2Cc3[nH]ncc3C1CC...,IC50,'=',...,CHEMBL1833811,1,Scientific Literature,Bioorg Med Chem Lett,2011,CHEMBL3307656,NaN,NaN,NaN,4.0
3,CHEMBL1643424,NaN,NaN,468.48,0.0,4.84,11,COc1cc(-c2nnc3n2CCCN3C(C)c2c(F)cc(F)cc2F)ccc1-...,IC50,'=',...,CHEMBL1641493,1,Scientific Literature,Bioorg Med Chem Lett,2011,CHEMBL3307715,NaN,NaN,NaN,342.0
4,CHEMBL1643427,NaN,NaN,469.38,1.0,5.16,14,COc1cc(-c2nnc3n2CCCN3Cc2ccc(Cl)c(Cl)c2)ccc1-n1...,IC50,'=',...,CHEMBL1641493,1,Scientific Literature,Bioorg Med Chem Lett,2011,CHEMBL3307715,NaN,NaN,NaN,126.0

In [ ]:
# Вывод информации по каждому столбцу датасета
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 48 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Molecule ChEMBL ID          3537 non-null   object
 1   Molecule Name               72 non-null     object
 2   Molecule Max Phase          47 non-null     float64
 3   Molecular Weight            3537 non-null   float64
 4   #RO5 Violations             3446 non-null   float64
 5   AlogP                       3446 non-null   float64
 6   Compound Key                3537 non-null   object
 7   Smiles                      3537 non-null   object
 8   Standard Type               3537 non-null   object
 9   Standard Relation           3507 non-null   object
 10  Standard Value              3507 non-null   float64
 11  Standard Units              3508 non-null   object
 12  pChEMBL Value               3147 non-null   float64
 13  Data Validity Comment       13 non-null     object
 14  Comment                     30 non-null     object
 15  Uo Units                    3508 non-null   object
 16  Ligand Efficiency BEI       3014 non-null   float64
 17  Ligand Efficiency LE        2947 non-null   float64
 18  Ligand Efficiency LLE       2947 non-null   float64
 19  Ligand Efficiency SEI       2947 non-null   float64
 20  Potential Duplicate         3537 non-null   int64
 21  Assay ChEMBL ID             3537 non-null   object
 22  Assay Description           3537 non-null   object
 23  Assay Type                  3537 non-null   object
 24  BAO Format ID               3537 non-null   object
 25  BAO Label                   3537 non-null   object
 26  Assay Organism              3432 non-null   object
 27  Assay Tissue ChEMBL ID      0 non-null      float64
 28  Assay Tissue Name           0 non-null      float64
 29  Assay Cell Type             2789 non-null   object
 30  Assay Subcellular Fraction  1 non-null      object
 31  Assay Parameters            0 non-null      float64
 32  Assay Variant Accession     0 non-null      float64
 33  Assay Variant Mutation      0 non-null      float64
 34  Target ChEMBL ID            3537 non-null   object
 35  Target Name                 3537 non-null   object
 36  Target Organism             3537 non-null   object
 37  Target Type                 3537 non-null   object
 38  Document ChEMBL ID          3537 non-null   object
 39  Source ID                   3537 non-null   int64
 40  Source Description          3537 non-null   object
 41  Document Journal            3537 non-null   object
 42  Document Year               3537 non-null   int64
 43  Cell ChEMBL ID              2480 non-null   object
 44  Properties                  123 non-null    object
 45  Action Type                 155 non-null    object
 46  Standard Text Value         0 non-null      float64
 47  Value                       3507 non-null   float64
dtypes: float64(17), int64(3), object(28)
memory usage: 1.3+ MB

Оставим только те колонки, которые отражают биологическую активность молекул:  
 7   Smiles                      3537 non-null   object  
 9   Standard Relation           3507 non-null   object  
 10  Standard Value              3507 non-null   float64  
 11  Standard Units              3508 non-null   object

In [ ]:
# Создание нового DataFrame с выбранными столбцами и вывод первых 5 строк
df = ds[['Smiles', 'Standard Relation', 'Standard Value', 'Standard Units']]
df.head()

,Smiles,Standard Relation,Standard Value,Standard Units
0,CCCCCCCCn1c2ccccc2c2cc(CCC(=O)O)c(OCC(=O)O)cc21,'>',80000.0,nM
1,O=S(=O)(c1ccc(C(F)(F)F)cc1)N1C2Cc3[nH]ncc3C1CC...,'=',36.0,nM
2,O=S(=O)(c1ccc(C(F)(F)F)nc1)N1C2Cc3[nH]ncc3C1CC...,'=',4.0,nM
3,COc1cc(-c2nnc3n2CCCN3C(C)c2c(F)cc(F)cc2F)ccc1-...,'=',342.0,nM
4,COc1cc(-c2nnc3n2CCCN3Cc2ccc(Cl)c(Cl)c2)ccc1-n1...,'=',126.0,nM

Выведем все единицы отношений относительно Standart Value и измерения значения Standart Value и их количество

In [12]:
df.value_counts('Standard Relation')

Standard Relation
'='     3159
'>'      345
'>='       2
'<'        1
Name: count, dtype: int64

In [13]:
print(df.value_counts('Standard Units'))

Standard Units
nM    3508
Name: count, dtype: int64

Оставим только те записи, у которых Standart Relation равен '='

In [16]:
df_filtered = df[df['Standard Relation'] == "'='"]
print(f'Количество отфильтрованных записей: {len(df_filtered)}')

Количество отфильтрованных записей: 3159

Удаление дубликатов и пропущенных значений

In [ ]:
df_filtered = df_filtered.drop_duplicates() # удаление дубликатов
df_filtered = df_filtered.dropna() # удаление пропущенных значений
print(f'Количество записей без дубликатов и пропущенных значений: {len(df_filtered)}')

Количество записей без дубликатов и пропущенных значений: 3041

In [18]:
# установка библиотеки rdkit
! pip install rdkit

Collecting rdkit
  Downloading rdkit-2025.3.3-cp311-cp311-win_amd64.whl.metadata (4.1 kB)
Requirement already satisfied: numpy in c:\users\nastj\appdata\local\programs\python\python311\lib\site-packages (from rdkit) (2.3.1)
Requirement already satisfied: Pillow in c:\users\nastj\appdata\local\programs\python\python311\lib\site-packages (from rdkit) (11.3.0)
Downloading rdkit-2025.3.3-cp311-cp311-win_amd64.whl (22.4 MB)
   ---------------------------------------- 0.0/22.4 MB ? eta -:--:--
   ---------------------------------------- 0.3/22.4 MB ? eta -:--:--
   ----- ---------------------------------- 2.9/22.4 MB 12.0 MB/s eta 0:00:02
   ----------------- ---------------------- 9.7/22.4 MB 21.5 MB/s eta 0:00:01
   --------------------------------- ------ 18.6/22.4 MB 28.6 MB/s eta 0:00:01
   ---------------------------------------- 22.4/22.4 MB 27.3 MB/s eta 0:00:00
Installing collected packages: rdkit
Successfully installed rdkit-2025.3.3

Проверка корретктности молекул

In [20]:
from rdkit import Chem

def is_valid_smiles(smile):
    mol = Chem.MolFromSmiles(smile)
    return mol is not None

df_filtered = df_filtered[df_filtered['Smiles'].apply(is_valid_smiles)]
print(f'Количество записей с валидными SMILE: {len(df_filtered)}')

Количество записей с валидными SMILE: 3041

Сохранение предварительно обработанного датасета

In [21]:
df_filtered.to_csv('dataset_filtered.csv', index=False)